@charset "UTF-8";


#banner {
    
    width:100%;
}
.principal{
    background-color: rgb(138, 112, 112);
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}
.titulo-centralizado{
    text-align: center;
    
}
p{
    text-align: justify;
    background-color: darkgrey;
}
#missao{
    font-size: 26px;
}
em strong{
    color:rgb(161, 26, 26);
}
.itens {
    font-style: italic;
}
.beneficios{
    background-color: white;
    padding: 20px;
}

h2{
    text-align: center;
}

ul{
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}